{% extends '@EasyAdmin/crud/field/base.html.twig' %}

{% block field %}
    <div class="post-translations-field">
        {% if ea.crud.currentAction == 'detail' %}
            {# Display mode for show page #}
            <div class="translations-display">
                {% for locale in field.customOptions.locales %}
                    <div class="translation-group mb-3">
                        <h6 class="translation-locale-header">{{ locale|upper }}</h6>
                        <div class="translation-values">
                            {% if entity.instance %}
                                {% set titleValue = field.formattedValue[locale ~ '_title'] ?? '' %}
                                {% set metaTitleValue = field.formattedValue[locale ~ '_metaTitle'] ?? '' %}
                                {% set metaDescValue = field.formattedValue[locale ~ '_metaDescription'] ?? '' %}
                                {% set excerptValue = field.formattedValue[locale ~ '_excerpt'] ?? '' %}

                                {% if titleValue %}
                                    <div><strong>Title:</strong> {{ titleValue }}</div>
                                {% endif %}
                                {% if metaTitleValue %}
                                    <div><strong>Meta Title:</strong> {{ metaTitleValue }}</div>
                                {% endif %}
                                {% if metaDescValue %}
                                    <div><strong>Meta Description:</strong> {{ metaDescValue }}</div>
                                {% endif %}
                                {% if excerptValue %}
                                    <div><strong>Excerpt:</strong> {{ excerptValue|slice(0, 100) }}...</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {# Form mode for edit/new pages #}
            {{ form_widget(field.formTypeOptions.block_name is defined ? attribute(form, field.formTypeOptions.block_name) : form[field.property]) }}
        {% endif %}
    </div>
{% endblock %}
