{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="flex flex-col">
        {% if categories is defined and categories is not same as null %}
            {% for category in categories %}
                <div
                    class="flex flex-col items-center gap-2 justify-center p-4 m-2 bg-gray-100 border rounded-lg shadow-md">
                    <a href="{{ path('app_category_show', {'categorySlug': category.slug}) }}">
                        {{ category.title }}
                    </a>

                    <p>{{ 'app.global.created_at'|trans ~ category.createdAt|date }}</p>
                    <p>{{ 'app.global.updated_at'|trans ~ category.updatedAt|date }}</p>

                    {% for medium in category.media %}
                        {% set src = vich_uploader_asset(medium) %}

                        {% if medium.type is same as constant('App\\Services\\Media\\Enum\\MediaType::Image') %}
                            <img src="{{ src }}" alt="{{ medium.alt }}" width="300">
                        {% else %}
                            <video autoplay loop poster="{{ src }}" title="{{ medium.title }}" width="300">
                                <source src="{{ src }}" type="video/mp4">
                            </video>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>No categories to show =/</p>
        {% endif %}
    </div>

    <div>
        <a href="{{ path('app_homepage_index') }}">Back home</a>
    </div>
{% endblock body %}
