{% if section is defined and section is not same as null %}
    <section>
        {% set media = section.media %}

        {% if media is not same as null %}
            <div>
                {% for medium in media %}
                    {% set src = vich_uploader_asset(medium) %}

                    {% if medium.type is same as constant('App\\Services\\Media\\Enum\\MediaType::Image') %}
                        <img src="{{ src }}" alt="{{ medium.alt }}" width="300">
                    {% else %}
                        <video autoplay loop poster="{{ src }}" title="{{ medium.title }}" width="300">
                            <source src="{{ src }}" type="video/mp4">
                        </video>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div>
            {{ section.content|raw }}
        </div>
    </section>
{% endif %}
