<nav class="bg-white sticky top-0 z-10">
    <div class="max-w-7xl mx-auto xl:px-0 px-4 border-b-2">
        <div class="flex justify-between items-center py-4 transition-all duration-300 border-b border-gray-200">
            <div class="flex items-center w-full justify-center md:justify-start flex-col md:flex-row">
                <a href="{{ path('app_homepage_index') }}" class="text-2xl font-playfair font-bold text-gray-900 tracking-wide">
                    {{ 'app.global.site'|trans|upper }}
                </a>
                <p class="text-xs text-gray-500 ml-2 mt-1">{{ 'app.global.slogan'|trans|upper }}</p>
            </div>
            <div class="flex items-center space-x-4 hidden md:block">
                <div class="flex space-x-2">
                    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                    <div class="w-6 h-6 bg-gray-300 rounded-full"></div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-between md:justify-start md:space-x-8 py-5 text-xs sm:text-sm font-medium text-gray-600">
            <a href="{{ path('app_post_index') }}"
               class="hover:text-gray-900">
                {{ 'app.global.menu.explore'|trans|upper }}
            </a>
            <a href="#"
               class="hover:text-gray-900">
                {{ 'app.global.menu.categories'|trans|upper }}
            </a>
            <a href="#"
               class="hover:text-gray-900">
                {{ 'app.global.menu.tags'|trans|upper }}
            </a>
            <a href="#" 
               class="hover:text-gray-900">
                {{ 'app.global.menu.about'|trans|upper }}
            </a>
        </div>
    </div>
</nav>
