{% extends 'base.html.twig' %}

{% block title %}{{ post.category.title }} - {{ post.title }}{% endblock %}

{% block body %}
    {% if post is defined and post is not same as null %}
        {% set mainMedia = post.media|first %}

        <div>
            <h1>{{ post.title }}</h1>
            <hr>
            <h2>Category : {{ post.category.title }}</h2>

            <div>
                {% include 'partials/_media_thumbnail.html.twig' with {
                    path: mainMedia.media.path ?? null,
                    alt: mainMedia.alt ?? '',
                    title: mainMedia.title ?? ''
                } only %}
            </div>

            {% if post.sections is not empty %}
                {% for section in post.sections %}
                    <section class="post-section post-section--{{ section.type.value }}">
                        {{ section.content|raw }}
                    </section>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
