{% extends 'base.html.twig' %}

{% block title %}{{ post.category.name }} - {{ post.title }}{% endblock %}

{% block body %}
    {% if post is defined and post is not same as null %}
        <h1>{{ post.title }}</h1>
        <img src="{{ asset('upload/post_thumbnail/' ~ post.imageName) }}" alt="{{ post.title }}" width="300px">

        {% if post.sections is not empty %}
            {% for section in post.sections %}
                <section>
                    {% include '/post/sections/' ~ section.type.value ~ '.html.twig' %}
                </section>
            {% endfor %}
        {% endif %}

        <p>{{ 'app.post.show.created_at'|trans ~ post.createdAt|date }}</p>
        <p>{{ 'app.post.show.updated_at'|trans ~ post.updatedAt|date }}</p>
    {% endif %}
{% endblock %}
