{% extends 'base.html.twig' %}

{% block title %}{{ post.category.title }} - {{ post.title }}{% endblock %}

{% block body %}
    {% if post is defined and post is not same as null %}
        <h1>{{ post.title }}</h1>
        <div>
            {% for tag in post.tags %}
                <span style="background-color: {{ tag.color }}">
                    {{ tag.title }}
                </span>
            {% endfor %}
        </div>

        <p>Category : {{ post.category.title }}</p>
{#        <img src="{{ asset('upload/post/' ~ mainMedia.mediaName) }}" alt="{{ post.title }}" width="300px">#}

{#        {% if post.sections is not empty %}#}
{#            {% for section in post.sections %}#}
{#                <section>#}
{#                    {% include '/post/sections/_' ~ section.type.value ~ '.html.twig' %}#}
{#                </section>#}
{#            {% endfor %}#}
{#        {% endif %}#}

        <p>{{ 'app.post.show.created_at'|trans ~ post.createdAt|date }}</p>
        <p>{{ 'app.post.show.updated_at'|trans ~ post.updatedAt|date }}</p>
        <a href="{{ path('app_post_index') }}">Back to posts</a>
    {% endif %}
{% endblock %}
