{% set classes = ['recipe-card', this.featured ? 'recipe-card--featured' : null]|filter(c => c)|join(' ') %}
{% set duration = this.durationFormatted %}
{% set updatedAt = this.post.updatedAt %}

<a {{ attributes.defaults({class: classes}) }} href="{{ this.href }}">
    <div class="recipe-card__media">
        {% if this.badge %}<span class="recipe-card__badge">{{ this.badge }}</span>{% endif %}
        <twig:Cover :attachment="this.coverAttachment" variation="medium" alt="" class="recipe-card__image" />
    </div>
    <div class="recipe-card__body">
        {% if updatedAt or duration %}
            <div class="recipe-card__meta">
                {% if updatedAt %}
                    <time class="recipe-card__date" datetime="{{ updatedAt|date('Y-m-d') }}">{{ updatedAt|format_datetime(pattern='d MMM') }}</time>
                {% endif %}
                {% if duration %}
                    <b class="recipe-card__duration">{{ duration }}</b>
                {% endif %}
            </div>
        {% endif %}
        <h3 class="recipe-card__title">{{ this.post.title }}</h3>
        {% if this.featured and this.post.excerpt %}
            <p class="recipe-card__excerpt">{{ this.post.excerpt }}</p>
        {% endif %}
    </div>
</a>
